nav.navbar.is-primary(role="navigation", aria-label="main navigation")
  .navbar-brand
    a.navbar-item(href="/")
      strong TechRetail Solutions

    a.navbar-burger(role="button", aria-label="menu", aria-expanded="false")
      span(aria-hidden="true")
      span(aria-hidden="true")
      span(aria-hidden="true")

  .navbar-menu
    .navbar-start
      each module in navigationModules
        a.navbar-item(href=module.href)= module.label

    .navbar-end
      .navbar-item
        .buttons
          if simulatedUser.isPlatformAdmin
            span.button.is-light.is-static Admin Plataforma
          else if simulatedUser.isCommerceAdmin
            span.button.is-light.is-static Admin Comercio
          else
            span.button.is-light.is-static Sin perfil

          if simulatedUser.role !== 'guest'
            a.button.is-danger.is-light(href="/simulation/logout") Salir
