nav.navbar.is-primary(role="navigation", aria-label="main navigation")
  .navbar-brand
    a.navbar-item(href="/")
      strong TechRetail Solutions

    a.navbar-burger(role="button", aria-label="menu", aria-expanded="false")
      span(aria-hidden="true")
      span(aria-hidden="true")
      span(aria-hidden="true")

  .navbar-menu
    .navbar-start
      a.navbar-item(href="/users") Usuarios
      a.navbar-item(href="/commerces") Comercios
      a.navbar-item(href="/orders") Ordenes
      a.navbar-item(href="/stores") Tiendas
      a.navbar-item(href="/subscriptions") Suscripciones
      a.navbar-item(href="/stores/view") Tiendas
      a.navbar-item(href="/transactions") Transacciones

    .navbar-end
      .navbar-item
        .buttons
          a.button.is-light(href="#") Log in
