nav.navbar.is-light(role="navigation" aria-label="main navigation")
  .container
    .navbar-brand
      a.navbar-item.has-text-weight-bold(href="/api/user") 🚀 TechRetail

    .navbar-menu.is-active
      .navbar-start
        a.navbar-item(href="/api/user") 👥 Listado
        a.navbar-item(href="/api/user/registro") ➕ Nuevo Usuario

//      .navbar-end
        .navbar-item
          .tags.has-addons
            span.tag.is-dark Sistema
            span.tag.is-info v1.0
