.box
  h2.subtitle Alta de Comercio

  form(id="addCommerceForm", autocomplete='off')
    .field
      label.label Razón Social
      .control
        input.input(type="text", name="name", placeholder="Ingrese razón social", required)

    .field
      label.label CUIT
      .control
        input.input(type="number", name="cuit", placeholder="Ingrese CUIT", required)

    .field
      label.label Email
      .control
        input.input(type="email", name="email", placeholder="Ingrese email", required)

    .field
      label.label Teléfono
      .control
        input.input(type="tel", name="phone", placeholder="Ingrese teléfono")

    .field
      label.label Dirección
      .control
        input.input(type="text", name="address", placeholder="Ingrese dirección")

    .field.is-grouped
      .control
        button.button.is-primary(type="submit") Guardar
      .control
        a.button.is-light(href="/commerces") Cancelar

script.
  document.getElementById('addCommerceForm').addEventListener('submit', function(e) {
    e.preventDefault();

    fetch('/api/commerces', {
      method: 'POST',
      body: JSON.stringify({
        name: this.name.value,
        cuit: this.cuit.value,
        email: this.email.value,
        phone: this.phone.value,
        address: this.address.value
      }),
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .then(response => {
      if (response.ok) {
        alert('Comercio creado exitosamente');
        window.location.href = '/commerces?view=list';
      } else {
        alert('Error al crear el comercio');
      }
    })
    .catch(() => alert('Error de conexión'));
  });
