extends ../layouts/main

block content
  h1.title Bienvenido a TechRetail Solutions SRL

  if sim.isCommerceAdmin && !sim.subscribed
    .notification.is-warning
      | El admin de comercio primero debe pagar una suscripción para tener acceso a las funcinalidades.
    a.button.is-warning.mt-3(href="/commerce-admin/subscription?role=commerce-admin") Ir a pagar suscripción

  if sim.isCommerceAdmin && sim.subscribed
    .notification.is-success
      | Suscripción activada. Ya puede entrar a los modulos del comercio.

  if sim.isPlatformAdmin
    .notification.is-info
      | Simulacion de admin de plataforma activa.

  .box
    h2.title.is-5 Simulacion simple
    p Elegi un tipo de usuario para probar la vista.

    .buttons.mt-4
      a.button.is-primary(href="/?role=platform-admin") Admin plataforma
      a.button.is-link(href="/?role=commerce-admin") Admin comercio

    //- if sim.isCommerceAdmin && !sim.subscribed


    if sim.isCommerceAdmin && sim.subscribed
      a.button.is-success.mt-3(href="/orders?role=commerce-admin&subscribed=1") Ir a modulos del comercio
