extends ../layouts/main

block content
  h1.title Gestión de Usuarios

  .buttons
    a.button(href="/users?view=form") Agregar Nuevo
    a.button(href="/users?view=list") Listado

  if view === 'form'
    include create
  else
    include list
