extends ../layouts/main

block content
  h1.title Alta de Usuario

  form(method="POST", action="/api/user/registro")
    .field
      label.label Nombre
      .control
        input.input(type="text", name="nombre", placeholder="Ingrese nombre", required)

    .field
      label.label Apellido
      .control
        input.input(type="text", name="apellido", placeholder="Ingrese apellido", required)

    .field
      label.label Email
      .control
        input.input(type="email", name="email", placeholder="Ingrese email", required)

    .field
      label.label Contraseña
      .control
        input.input(type="password", name="password", placeholder="Ingrese contraseña", required)

    .field
      label.label Rol
      .control
        .select
          select(name="rol")
            option(value="user") Usuario
            option(value="admin") Administrador

    .field
      label.label ID de Comercio
      .control
        input.input(type="number", name="comercioId", placeholder="ID de comercio", required)

    .field.is-grouped
      .control
        button.button.is-primary(type="submit") Guardar
      .control
        a.button.is-light(href="/api/user/registro") Cancelar
